
HW1/MSPS_1_sem.ipynb
HW1/MSPS_1_lect.pdf
HW1/MSPS_1_task.pdf
HW2/1. Оценки и их типы.pdf
HW2/2. Свойства оценок.pdf
HW2/3. Сравнение оценок.pdf
HW2/4. ОММ ОМП.pdf
HW2/MSPS_base_1_task.pdf
HW2/README.docx
HW2/Чернова Матстат.pdf
HW0/MSPS_1_lect.pdf
HW0/MSPS_1_sem.ipynb
HW0/MSPS_1_task.pdf
HW1/1. Оценки и их типы.pdf
HW1/2. Свойства оценок.pdf
HW1/3. Сравнение оценок.pdf
HW1/4. ОММ ОМП.pdf
HW1/MSPS_base_1_task.pdf
HW1/README.docx
HW1/Чернова Матстат.pdf
HW1/.ipynb_checkpoints/HW1-checkpoint.ipynb
HW2/5. Доверительные интервалы.pdf
HW2/6. Простые гипотезы.pdf
HW2/MSPS_base_2.pdf
HW3/7. Эффективные оценки.pdf
HW3/MSPS_2019_2.pdf
HW3/MSPS_seminar2_wald.ipynb
HW3/MSPS_base_3.pdf
HW3/README.docx
HW3/Для любознательных/10. Сложные гипотезы.pdf
HW3/Для любознательных/11. Нормальная модель.pdf
HW3/Для любознательных/12. Регрессия.pdf
HW3/Для любознательных/8. Условное матожидание.pdf
HW3/Для любознательных/9. Оптимальные оценки.pdf
HW2/.ipynb_checkpoints/HW1-checkpoint.ipynb
HW2/.ipynb_checkpoints/HW2-checkpoint.ipynb
HW4/.ipynb_checkpoints/HW4-checkpoint.ipynb
HW3/.ipynb_checkpoints/HW3-checkpoint.ipynb
HW5/.ipynb_checkpoints/HW5-checkpoint.ipynb
HW0/.ipynb_checkpoints/HW1-checkpoint.ipynb
mathematical_statistics.pdf
MathematicalStatistics (задачи).pdf
Tex-sample-a5.pdf
